In [ ]:
SELECT * FROM tasks WHERE user_id = 1;

In [ ]:
SELECT * FROM tasks WHERE status_id = (SELECT id FROM status WHERE name = 'new');

In [ ]:
UPDATE tasks SET status_id = (SELECT id FROM status WHERE name = 'in progress') WHERE id = 1;

In [ ]:
SELECT * FROM users WHERE id NOT IN (SELECT user_id FROM tasks);

In [ ]:
INSERT INTO tasks (title, description, status_id, user_id) VALUES ('New Task', 'Description of new task', 1, 1);

In [ ]:
SELECT * FROM tasks WHERE status_id != (SELECT id FROM status WHERE name = 'completed');

In [ ]:
DELETE FROM tasks WHERE id = 1;

In [ ]:
SELECT * FROM users WHERE email LIKE '%example.com';

In [ ]:
UPDATE users SET fullname = 'New Name' WHERE id = 1;

In [ ]:
SELECT status.name, COUNT(tasks.id) AS task_count FROM status LEFT JOIN tasks ON status.id = tasks.status_id GROUP BY status.id;

In [ ]:
SELECT tasks.* FROM tasks JOIN users ON tasks.user_id = users.id WHERE users.email LIKE '%@example.com';

In [ ]:
SELECT * FROM tasks WHERE description IS NULL OR description = '';

In [ ]:
SELECT users.fullname, tasks.title FROM users JOIN tasks ON users.id = tasks.user_id WHERE tasks.status_id = (SELECT id FROM status WHERE name = 'in progress');

In [ ]:
SELECT users.fullname, COUNT(tasks.id) AS task_count FROM users LEFT JOIN tasks ON users.id = tasks